In [3]:
import pandas as pd
import os

In [4]:
precip_df = pd.read_csv("../Data/county_precip.csv")

precip_df

,Fips Code,Year,Days with > 0.1 inch of Precipitation,Extreme maximum precipitation,Days with snow depth > 1 inch
0,1001,2001,67,3.60,0
1,1001,2011,91,3.60,0
2,1001,2011,91,2.45,0
3,1003,2001,115,2.45,0
4,1003,2001,115,3.89,0
...,...,...,...,...,...
14654,56045,2001,84,1.68,19
14655,56045,2001,84,1.14,19
14656,56045,2001,84,1.14,16
14657,56045,2011,47,1.14,16
14658,56045,2011,47,0.95,16

In [5]:
dfp_2001 = precip_df.loc[precip_df['Year'] == 2001]
dfp_2011 = precip_df.loc[precip_df['Year'] == 2011]

dfp_2001.head()

,Fips Code,Year,Days with > 0.1 inch of Precipitation,Extreme maximum precipitation,Days with snow depth > 1 inch
0,1001,2001,67,3.60,0
3,1003,2001,115,2.45,0
4,1003,2001,115,3.89,0
5,1003,2001,115,3.89,0
8,1005,2001,100,3.14,0

In [6]:
did_it_rain_avg = dfp_2001.groupby(["Fips Code"]).mean()["Days with > 0.1 inch of Precipitation"]

extreme_max_avg = dfp_2001.groupby(["Fips Code"]).mean()["Extreme maximum precipitation"]

oneinchofsnow_avg = dfp_2001.groupby(["Fips Code"]).mean()["Days with snow depth > 1 inch"]

In [7]:
county_precip_data_clean_01=pd.DataFrame({
    "Year": 2000,
    "Days with > 0.1 inch of Precipitation": did_it_rain_avg,
    "Extreme maximum precipitation": extreme_max_avg,
    "Days with snow depth > 1 inch": oneinchofsnow_avg})
county_precip_data_clean_01.head()

,Year,Days with > 0.1 inch of Precipitation,Extreme maximum precipitation,Days with snow depth > 1 inch
Fips Code,,,,
1001,2000,67.0,3.600000,0.000000
1003,2000,115.0,3.410000,0.000000
1005,2000,100.0,6.206667,0.333333
1007,2000,109.0,4.580000,0.666667
1009,2000,94.0,4.850000,0.000000

In [8]:
county_precip_data_clean_01["Fips Code"]= county_precip_data_clean_01.index
county_precip_data_clean_01.head()

,Year,Days with > 0.1 inch of Precipitation,Extreme maximum precipitation,Days with snow depth > 1 inch,Fips Code
Fips Code,,,,,
1001,2000,67.0,3.600000,0.000000,1001
1003,2000,115.0,3.410000,0.000000,1003
1005,2000,100.0,6.206667,0.333333,1005
1007,2000,109.0,4.580000,0.666667,1007
1009,2000,94.0,4.850000,0.000000,1009

In [9]:
did_it_rain_avg = dfp_2011.groupby(["Fips Code"]).mean()["Days with > 0.1 inch of Precipitation"]

extreme_max_avg = dfp_2011.groupby(["Fips Code"]).mean()["Extreme maximum precipitation"]

oneinchofsnow_avg = dfp_2011.groupby(["Fips Code"]).mean()["Days with snow depth > 1 inch"]

In [10]:
county_precip_data_clean_11=pd.DataFrame({ 
    "Year":2010,                            
    "Days with > 0.1 inch of Precipitation": did_it_rain_avg,
    "Extreme maximum precipitation": extreme_max_avg,
    "Days with snow depth > 1 inch": oneinchofsnow_avg})
county_precip_data_clean_11.head()

,Year,Days with > 0.1 inch of Precipitation,Extreme maximum precipitation,Days with snow depth > 1 inch
Fips Code,,,,
1001,2010,91.0,3.025,0.0
1003,2010,110.0,3.515,0.0
1007,2010,94.0,3.925,0.0
1009,2010,104.0,7.605,0.0
1011,2010,81.0,4.500,0.0

In [11]:
county_precip_data_clean_11["Fips Code"]= county_precip_data_clean_11.index
county_precip_data_clean_11.head()

,Year,Days with > 0.1 inch of Precipitation,Extreme maximum precipitation,Days with snow depth > 1 inch,Fips Code
Fips Code,,,,,
1001,2010,91.0,3.025,0.0,1001
1003,2010,110.0,3.515,0.0,1003
1007,2010,94.0,3.925,0.0,1007
1009,2010,104.0,7.605,0.0,1009
1011,2010,81.0,4.500,0.0,1011

In [12]:
df_precip_avg = county_precip_data_clean_01.append(county_precip_data_clean_11, ignore_index=True)

df_precip_avg.head()

,Year,Days with > 0.1 inch of Precipitation,Extreme maximum precipitation,Days with snow depth > 1 inch,Fips Code
0,2000,67.0,3.600000,0.000000,1001
1,2000,115.0,3.410000,0.000000,1003
2,2000,100.0,6.206667,0.333333,1005
3,2000,109.0,4.580000,0.666667,1007
4,2000,94.0,4.850000,0.000000,1009

In [13]:
df_precip_avg.tail()

,Year,Days with > 0.1 inch of Precipitation,Extreme maximum precipitation,Days with snow depth > 1 inch,Fips Code
5466,2010,48.0,0.756667,12.333333,56037
5467,2010,97.0,1.260000,42.666667,56039
5468,2010,97.0,1.013333,23.333333,56041
5469,2010,92.0,1.340000,19.000000,56043
5470,2010,47.0,1.045000,16.000000,56045

In [14]:
df_precip_avg['Fips Code'] = df_precip_avg['Fips Code'].astype(str).str.zfill(5)
df_precip_avg.head()

,Year,Days with > 0.1 inch of Precipitation,Extreme maximum precipitation,Days with snow depth > 1 inch,Fips Code
0,2000,67.0,3.600000,0.000000,01001
1,2000,115.0,3.410000,0.000000,01003
2,2000,100.0,6.206667,0.333333,01005
3,2000,109.0,4.580000,0.666667,01007
4,2000,94.0,4.850000,0.000000,01009

In [15]:
# Create the output file (CSV).
output_data_file_two = "../Data/avg_county_precip.csv"
# Export the City_Data into a CSV.
df_precip_avg.to_csv(output_data_file_two, index=False)

In [16]:
temp_df = pd.read_csv("../Data/county_temps.csv")
temp_df

       Fips Code  Year  Average Temp  Days Over 70  Days Under 32
0           1003  2001          66.6            33             19
1           1003  2011          67.0            33             19
2           1003  2011          67.0            96             19
3           1003  2011          67.0            96             28
4           1005  2011          67.0            96             28
...          ...   ...           ...           ...            ...
14122      56045  2001          48.9            62            213
14123      56045  2001          48.9            62            170
14124      56045  2011          44.3            62            170
14125      56045  2011          44.3            39            170
14126      56045  2011          44.3            39            186

[14127 rows x 5 columns]

In [17]:
dft_2001 = temp_df.loc[temp_df['Year'] == 2001]
dft_2011 = temp_df.loc[temp_df['Year'] == 2011]

In [18]:
temp_avg_01 = dft_2001.groupby(["Fips Code"]).mean()["Average Temp"]

over_90thistime_01 = dft_2001.groupby(["Fips Code"]).mean()["Days Over 70"]

daysunder32_01 = dft_2001.groupby(["Fips Code"]).mean()["Days Under 32"]

In [19]:
county_temp_data_clean_01=pd.DataFrame({
    "Year": 2000,
    "Average Temp": temp_avg_01,
    "Days Over 90": over_90thistime_01,
    "Days Under 32": daysunder32_01})

county_temp_data_clean_01["Fips Code"]= county_temp_data_clean_01.index
county_temp_data_clean_01.head()

           Year  Average Temp  Days Over 90  Days Under 32  Fips Code
Fips Code
1003       2000          66.6     33.000000      19.000000       1003
1007       2000          62.0     74.333333      50.000000       1007
1011       2000          62.7     46.333333      57.000000       1011
1015       2000          62.3     54.000000      57.333333       1015
1017       2000          61.1     55.000000      63.333333       1017

In [20]:
temp_avg_11 = dft_2011.groupby(["Fips Code"]).mean()["Average Temp"]

over_90thistime_11 = dft_2011.groupby(["Fips Code"]).mean()["Days Over 70"]

daysunder32_11 = dft_2011.groupby(["Fips Code"]).mean()["Days Under 32"]

In [21]:
county_temp_data_clean_11=pd.DataFrame({
    "Year": 2010,
    "Average Temp": temp_avg_11,
    "Days Over 90": over_90thistime_11,
    "Days Under 32": daysunder32_11})

county_temp_data_clean_11["Fips Code"]= county_temp_data_clean_11.index
county_temp_data_clean_11.head()

           Year  Average Temp  Days Over 90  Days Under 32  Fips Code
Fips Code
1003       2010          67.0     75.000000      22.000000       1003
1005       2010          67.0    118.000000      33.333333       1005
1007       2010          64.8     84.333333      59.666667       1007
1011       2010          62.8     63.333333      61.333333       1011
1013       2010          63.8     92.666667      62.000000       1013

In [22]:
df_temp_avg = county_temp_data_clean_01.append(county_temp_data_clean_11, ignore_index=True)
df_temp_avg['Fips Code'] = df_temp_avg['Fips Code'].astype(str).str.zfill(5)
df_temp_avg.head()

   Year  Average Temp  Days Over 90  Days Under 32 Fips Code
0  2000          66.6     33.000000      19.000000     01003
1  2000          62.0     74.333333      50.000000     01007
2  2000          62.7     46.333333      57.000000     01011
3  2000          62.3     54.000000      57.333333     01015
4  2000          61.1     55.000000      63.333333     01017

In [23]:
df_temp_avg.tail()

      Year  Average Temp  Days Over 90  Days Under 32 Fips Code
4840  2010          43.7      3.333333     193.000000     56037
4841  2010          38.7      0.000000     206.666667     56039
4842  2010          40.3      4.666667     197.666667     56041
4843  2010          41.1     34.666667     177.000000     56043
4844  2010          44.3     46.666667     175.333333     56045

In [24]:
# Create the output file (CSV).
output_data_file_two = "../Data/avg_county_temp.csv"
# Export the City_Data into a CSV.
df_temp_avg.to_csv(output_data_file_two, index=False)

In [25]:
df_precip_avg = df_precip_avg[['Fips Code','Year','Days with > 0.1 inch of Precipitation','Extreme maximum precipitation','Days with snow depth > 1 inch']]
df_temp_avg = df_temp_avg[['Fips Code','Year','Average Temp','Days Over 90','Days Under 32']]
df_temp_avg_sql = df_temp_avg.rename(columns = {'Fips Code' : 'co_fips'})
df_precip_avg_sql= df_precip_avg.rename(columns = {'Fips Code' : 'co_fips'})

In [31]:
from sqlalchemy import create_engine
import psycopg2 as psql  
import config as cfg
 
conn_string = f'postgresql://{cfg.PG4_USER}:{cfg.PG4_PWD}@{cfg.PG4_HOST}/{cfg.PG4_DBNAME}'
  
db = create_engine(conn_string)
conn = db.connect()

df_temp_avg_sql.to_sql('County_Temp', con = conn, if_exists = 'replace', index = True)

df_precip_avg_sql.to_sql('County_Precip', con = conn, if_exists = 'replace', index = True)

conn.close()