In [32]:
import pandas as pd
import os

In [47]:
precip_df = pd.read_csv("../Data/county_precip.csv")
temp_df = pd.read_csv("../Data/county_temps.csv")
precip_df

,Fips Code,Year,Days with > 0.1 inch of Precipitation,Extreme maximum precipitation,Days with snow depth > 1 inch
0,1001,2001,67,3.60,0
1,1001,2011,91,3.60,0
2,1001,2011,91,2.45,0
3,1003,2001,115,2.45,0
4,1003,2001,115,3.89,0
...,...,...,...,...,...
14654,56045,2001,84,1.68,19
14655,56045,2001,84,1.14,19
14656,56045,2001,84,1.14,16
14657,56045,2011,47,1.14,16
14658,56045,2011,47,0.95,16

In [30]:
# precip_df.fillna(value=0, inplace=True)
temp_df = temp_df.fillna(value=0, inplace=True)
temp_df.head(10)

AttributeError: 'NoneType' object has no attribute 'head'

In [38]:
dfp_2001 = precip_df.loc[precip_df['Year'] == 2001]
dfp_2011 = precip_df.loc[precip_df['Year'] == 2011]
# dft_2001 = temp_df.loc[temp_df['Year'] == 2001]
# dft_2011 = temp_df.loc[temp_df['Year'] == 2011]
dfp_2001.head()

,Fips Code,Year,Days with > 0.1 inch of Precipitation,Extreme maximum precipitation,Days with snow depth > 1 inch
0,1001,2001,67,3.60,0
3,1003,2001,115,2.45,0
4,1003,2001,115,3.89,0
5,1003,2001,115,3.89,0
8,1005,2001,100,3.14,0

In [53]:
did_it_rain_avg = dfp_2001.groupby(["Fips Code"]).mean()["Days with > 0.1 inch of Precipitation"]

extreme_max_avg = dfp_2001.groupby(["Fips Code"]).mean()["Extreme maximum precipitation"]

oneinchofsnow_avg = dfp_2001.groupby(["Fips Code"]).mean()["Days with snow depth > 1 inch"]

In [55]:
county_precip_data_clean_01=pd.DataFrame({
    "Year": 2001,
    "Days with > 0.1 inch of Precipitation": did_it_rain_avg,
    "Extreme maximum precipitation": extreme_max_avg,
    "Days with snow depth > 1 inch": oneinchofsnow_avg})
county_precip_data_clean_01.head()

,Year,Days with > 0.1 inch of Precipitation,Extreme maximum precipitation,Days with snow depth > 1 inch
Fips Code,,,,
1001,2001,67.0,3.600000,0.000000
1003,2001,115.0,3.410000,0.000000
1005,2001,100.0,6.206667,0.333333
1007,2001,109.0,4.580000,0.666667
1009,2001,94.0,4.850000,0.000000

In [65]:
county_precip_data_clean_01["Fips Code"]= county_precip_data_clean_01.index
county_precip_data_clean_01.head()

,Year,Days with > 0.1 inch of Precipitation,Extreme maximum precipitation,Days with snow depth > 1 inch,Fips Code
Fips Code,,,,,
1001,2001,67.0,3.600000,0.000000,1001
1003,2001,115.0,3.410000,0.000000,1003
1005,2001,100.0,6.206667,0.333333,1005
1007,2001,109.0,4.580000,0.666667,1007
1009,2001,94.0,4.850000,0.000000,1009

In [56]:
did_it_rain_avg = dfp_2011.groupby(["Fips Code"]).mean()["Days with > 0.1 inch of Precipitation"]

extreme_max_avg = dfp_2011.groupby(["Fips Code"]).mean()["Extreme maximum precipitation"]

oneinchofsnow_avg = dfp_2011.groupby(["Fips Code"]).mean()["Days with snow depth > 1 inch"]

In [58]:
county_precip_data_clean_11=pd.DataFrame({ 
    "Year":2011,                            
    "Days with > 0.1 inch of Precipitation": did_it_rain_avg,
    "Extreme maximum precipitation": extreme_max_avg,
    "Days with snow depth > 1 inch": oneinchofsnow_avg})
county_precip_data_clean_11.head()

,Year,Days with > 0.1 inch of Precipitation,Extreme maximum precipitation,Days with snow depth > 1 inch
Fips Code,,,,
1001,2011,91.0,3.025,0.0
1003,2011,110.0,3.515,0.0
1007,2011,94.0,3.925,0.0
1009,2011,104.0,7.605,0.0
1011,2011,81.0,4.500,0.0

In [64]:
county_precip_data_clean_11["Fips Code"]= county_precip_data_clean_11.index
county_precip_data_clean_11.head()

,Year,Days with > 0.1 inch of Precipitation,Extreme maximum precipitation,Days with snow depth > 1 inch,Fips Code
Fips Code,,,,,
1001,2011,91.0,3.025,0.0,1001
1003,2011,110.0,3.515,0.0,1003
1007,2011,94.0,3.925,0.0,1007
1009,2011,104.0,7.605,0.0,1009
1011,2011,81.0,4.500,0.0,1011

In [71]:
df_precip_avg = county_precip_data_clean_01.append(county_precip_data_clean_11, ignore_index=True)

df_precip_avg.head()

,Year,Days with > 0.1 inch of Precipitation,Extreme maximum precipitation,Days with snow depth > 1 inch,Fips Code
0,2001,67.0,3.600000,0.000000,1001
1,2001,115.0,3.410000,0.000000,1003
2,2001,100.0,6.206667,0.333333,1005
3,2001,109.0,4.580000,0.666667,1007
4,2001,94.0,4.850000,0.000000,1009

In [72]:
df_precip_avg['Fips Code'] = df_precip_avg['Fips Code'].astype(str).str.zfill(5)
df_precip_avg.head()

,Year,Days with > 0.1 inch of Precipitation,Extreme maximum precipitation,Days with snow depth > 1 inch,Fips Code
0,2001,67.0,3.600000,0.000000,01001
1,2001,115.0,3.410000,0.000000,01003
2,2001,100.0,6.206667,0.333333,01005
3,2001,109.0,4.580000,0.666667,01007
4,2001,94.0,4.850000,0.000000,01009

In [73]:
# Create the output file (CSV).
output_data_file_two = "../Data/avg_county_precip.csv"
# Export the City_Data into a CSV.
df_precip_avg.to_csv(output_data_file_two, index=False)